# Copyright (C) 2020  Hong Xu <hong@topbug.net>

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.

# You should have received a copy of the GNU Lesser General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

include:
  - template: 'Workflows/MergeRequest-Pipelines.gitlab-ci.yml'

lint:
  image: "python:3.9"
  script:
    - pip install -U tox
    - tox -vv -e lint
  interruptible: true

dev:
  image: "python:3.8"
  script:
    - pip install -U tox
    - tox -vv -e dev
    - . .tox/dev/bin/activate
  interruptible: true

.docs:
  image: "python:3.6"
  script:
    - pip install -U tox
    - tox -vv -e docs
    - mv .tox/docs/_build/html/ public
  artifacts:
    paths:
    - public
  interruptible: true

docs:
  extends: ".docs"
  except:
    - master

pages:
  extends: ".docs"
  stage: deploy
  only:
    - master

.runtime:
  script:
    - python -V
    - export TOXENV=py$(python -V | cut -d' ' -f2 | cut -d. -f1,2 | sed 's/\.//'); echo TOXENV=$TOXENV
    - pip install -U tox
    - tox -vv
  interruptible: true

runtime-3.6:
  extends: ".runtime"
  image: "python:3.6"

runtime-3.7:
  extends: ".runtime"
  image: "python:3.7"

runtime-3.8:
  extends: ".runtime"
  image: "python:3.8"

runtime-3.9:
  extends: ".runtime"
  image: "python:3.9"
